extends ./layout/index

block contenido
    main.container.mt-5 
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1.pt-3= pagina 
                blockquote Suspendisse nec lectus pretium, euismod lectus id, vestibulum sapien. Duis sit amet dictum quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc at cursus diam, id porta justo. 

                p Proin consectetur nunc vitae consectetur vestibulum. Phasellus at enim gravida, eleifend turpis et, efficitur lectus. Praesent suscipit commodo arcu, et eleifend lorem varius et. Fusce ante nibh, interdum nec tristique ut, finibus eget neque. 

                p Proin consectetur nunc vitae consectetur vestibulum. Phasellus at enim gravida, eleifend turpis et, efficitur lectus. Praesent suscipit commodo arcu, et eleifend lorem varius et. Fusce ante nibh, interdum nec tristique ut, finibus eget neque. Etiam nisi diam, tristique at lorem id, congue sollicitudin eros. Mauris eu molestie nibh. Curabitur malesuada condimentum tortor, sed tempus arcu vehicula ut. Morbi auctor hendrerit molestie. Donec laoreet tempus lacus.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad   
                    p Etiam nisi diam, tristique at lorem id, congue sollicitudin eros. Mauris eu molestie nibh. Curabitur malesuada condimentum tortor

                .col-md-4.pt-4.pb-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos   
                    p Etiam nisi diam, tristique at lorem id, congue sollicitudin eros. Mauris eu molestie nibh. Curabitur malesuada condimentum tortor

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios   
                    p Etiam nisi diam, tristique at lorem id, congue sollicitudin eros. Mauris eu molestie nibh. Curabitur malesuada condimentum tortor